
@{
    ViewBag.Title = "Index";
    ViewBag.ControllerName = "Home";
    ViewBag.ActionName = "Index";

    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}



<div class="col-lg-9">
    <div class="page-content-inner">
        <div class="blog-page blog-content-1">
            <div class="row">

                <div class="col-lg-12">

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="blog-banner blog-container" style="background-image:url(../assets/pages/img/background/7.jpg);">
                                <h2 class="blog-title blog-banner-title">
                                    <a href="javascript:;">My Notes Web App</a>
                                </h2>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="blog-post-sm bordered blog-container">
                                <div class="blog-img-thumb">
                                    <a href="javascript:;">
                                        <img src="../assets/pages/img/page_general_search/1.jpg">
                                    </a>
                                </div>
                                <div class="blog-post-content">
                                    <h2 class="blog-title blog-post-title">
                                        <a href="javascript:;">Metronic Blog Post</a>
                                    </h2>
                                    <p class="blog-post-desc"> Lorem ipsum dolor sit amet adipiscing elit, sed diam nonummy </p>
                                    
                                    <div class="blog-post-foot">                                        
                                        <div class="blog-post-meta">
                                            <i class="icon-calendar font-blue"></i>
                                            <a href="javascript:;">Dec 14, 2019</a>
                                        </div>
                                        <div class="blog-post-meta">
                                            <i class="icon-user font-blue"></i>
                                            <a href="javascript:;">Mehmet ÖZÇELİK</a>
                                        </div>                                        
                                        <hr />
                                        <div class="clearfix">
                                            <div class="blog-post-meta col-md-6">
                                                <button class="btn blue mt-ladda-btn btn-block ladda-button btn-circle btn-outline btn-sm" href="javascript:;">
                                                    <span class="fa fa-thumbs-o-up"> Beğen &nbsp;</span> 9
                                                </button>
                                            </div>
                                            <div class="blog-post-meta col-md-6">
                                                <button class="btn blue-hoki mt-ladda-btn btn-block ladda-button btn-circle btn-outline btn-sm" href="javascript:;">
                                                    <span class="icon-bubble"> Yorum Yap &nbsp;</span> 21
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="blog-post-sm bordered blog-container">
                                <div class="blog-img-thumb">
                                    <a href="javascript:;">
                                        <img src="../assets/pages/img/page_general_search/02.jpg">
                                    </a>
                                </div>
                                <div class="blog-post-content">
                                    <h2 class="blog-title blog-post-title">
                                        <a href="javascript:;">Metronic Blog Post</a>
                                    </h2>
                                    <p class="blog-post-desc"> Lorem ipsum dolor sit amet adipiscing elit, sed diam nonummy </p>
                                    <div class="blog-post-foot">

                                        <div class="blog-post-meta">
                                            <i class="icon-calendar font-blue"></i>
                                            <a href="javascript:;">Oct 24, 2019</a>
                                        </div>
                                        <div class="blog-post-meta text-right">
                                            <i class="icon-user font-blue"></i>
                                            <a href="javascript:;">Mehmet ÖZÇELİK</a>
                                        </div>

                                        <hr />
                                        <div class="clearfix">
                                            <div class="blog-post-meta col-md-6">
                                                <button class="btn blue mt-ladda-btn btn-block ladda-button btn-circle btn-outline btn-sm" href="javascript:;">
                                                    <span class="fa fa-thumbs-o-up"> Beğen &nbsp;</span> 5
                                                </button>
                                            </div>
                                            <div class="blog-post-meta col-md-6">
                                                <button class="btn blue-hoki mt-ladda-btn btn-block ladda-button btn-circle btn-outline btn-sm" href="javascript:;">
                                                    <span class="icon-bubble"> Yorum Yap &nbsp;</span> 14
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="blog-post-sm bordered blog-container">
                                <div class="blog-img-thumb">
                                    <a href="javascript:;">
                                        <img src="../assets/pages/img/page_general_search/2.jpg">
                                    </a>
                                </div>
                                <div class="blog-post-content">
                                    <h2 class="blog-title blog-post-title">
                                        <a href="javascript:;">Metronic Blog Post</a>
                                    </h2>
                                    <p class="blog-post-desc"> Lorem ipsum dolor sit amet adipiscing elit, sed diam nonummy </p>
                                    <div class="blog-post-foot">
                                        <div class="blog-post-meta">
                                            <i class="icon-calendar font-blue"></i>
                                            <a href="javascript:;">Oct 24, 2015</a>
                                        </div>
                                        <div class="blog-post-meta">
                                            <i class="icon-bubble font-blue"></i>
                                            <a href="javascript:;">14 Comments</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="blog-post-sm bordered blog-container">
                                <div class="blog-img-thumb">
                                    <a href="javascript:;">
                                        <img src="../assets/pages/img/page_general_search/03.jpg">
                                    </a>
                                </div>
                                <div class="blog-post-content">
                                    <h2 class="blog-title blog-post-title">
                                        <a href="javascript:;">Metronic Blog Post</a>
                                    </h2>
                                    <p class="blog-post-desc"> Lorem ipsum dolor sit amet adipiscing elit, sed diam nonummy </p>
                                    <div class="blog-post-foot">
                                        <div class="blog-post-meta">
                                            <i class="icon-calendar font-blue"></i>
                                            <a href="javascript:;">Oct 24, 2015</a>
                                        </div>
                                        <div class="blog-post-meta">
                                            <i class="icon-bubble font-blue"></i>
                                            <a href="javascript:;">14 Comments</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-lg-3">
    <div class="blog-single-sidebar bordered blog-container">
        <div class="blog-single-sidebar-search">
            <div class="input-icon right">
                <i class="icon-magnifier"></i>
                <input type="text" class="form-control" placeholder="Search Blog">
            </div>
        </div>
        <div class="blog-single-sidebar-recent">
            <h3 class="blog-sidebar-title uppercase">Kategorİler</h3>
            <ul>
                <li>
                    <a href="javascript:;">Metronic Admin Progress</a>
                </li>
                <li>
                    <a href="javascript:;">New UI Features</a>
                </li>
                <li>
                    <a href="javascript:;">Lorem Ipsum Dolore Amet</a>
                </li>
                <li>
                    <a href="javascript:;">Userfull Pages Released</a>
                </li>
            </ul>
        </div>
        <div class="blog-single-sidebar-tags">
            <h3 class="blog-sidebar-title uppercase">ETİKETLER</h3>
            <ul class="blog-post-tags">
                <li class="uppercase">
                    <a href="javascript:;">Bootstrap</a>
                </li>
                <li class="uppercase">
                    <a href="javascript:;">Sass</a>
                </li>
                <li class="uppercase">
                    <a href="javascript:;">HTML</a>
                </li>
                <li class="uppercase">
                    <a href="javascript:;">CSS</a>
                </li>
                <li class="uppercase">
                    <a href="javascript:;">Gulp</a>
                </li>
                <li class="uppercase">
                    <a href="javascript:;">Framework</a>
                </li>
                <li class="uppercase">
                    <a href="javascript:;">Admin Theme</a>
                </li>
                <li class="uppercase">
                    <a href="javascript:;">UI Features</a>
                </li>
            </ul>
        </div>
        <div class="blog-single-sidebar-links">
            <h3 class="blog-sidebar-title uppercase">Useful Links</h3>
            <ul>
                <li>
                    <a href="javascript:;">Lorem Ipsum </a>
                </li>
                <li>
                    <a href="javascript:;">Dolore Amet</a>
                </li>
                <li>
                    <a href="javascript:;">Metronic Database</a>
                </li>
                <li>
                    <a href="javascript:;">UI Features</a>
                </li>
                <li>
                    <a href="javascript:;">Advanced Forms</a>
                </li>
            </ul>
        </div>
        <div class="blog-single-sidebar-ui">
            <h3 class="blog-sidebar-title uppercase">UI Examples</h3>
            <div class="row ui-margin">
                <div class="col-xs-4 ui-padding">
                    <a href="javascript:;">
                        <img src="../assets/pages/img/background/1.jpg" />
                    </a>
                </div>
                <div class="col-xs-4 ui-padding">
                    <a href="javascript:;">
                        <img src="../assets/pages/img/background/37.jpg" />
                    </a>
                </div>
                <div class="col-xs-4 ui-padding">
                    <a href="javascript:;">
                        <img src="../assets/pages/img/background/57.jpg" />
                    </a>
                </div>
                <div class="col-xs-4 ui-padding">
                    <a href="javascript:;">
                        <img src="../assets/pages/img/background/53.jpg" />
                    </a>
                </div>
                <div class="col-xs-4 ui-padding">
                    <a href="javascript:;">
                        <img src="../assets/pages/img/background/59.jpg" />
                    </a>
                </div>
                <div class="col-xs-4 ui-padding">
                    <a href="javascript:;">
                        <img src="../assets/pages/img/background/42.jpg" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>