
@using MyNotes.Entities
@model Category

<div class="m-heading-1 border-green m-bordered">
    <span style="color:darkcyan" class="fa fa-chevron-down"></span><a>&nbsp; Kategori&nbsp;</a>
    <span style="color:darkcyan" class="fa fa-arrow-right"></span>&nbsp;<a class="deger" id="@Model.Id">&nbsp;@Model.Title</a>
    <a style="float: right;width: 50px;color:darkcyan" href="/Home/Index">Temizle</a>
</div>